parameters:
    level: 9
    paths:
        - src
        - tests
    excludePaths:
            analyse:
                - vendor/*
    treatPhpDocTypesAsCertain: false

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon